<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Robocoder</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html { width: 100%; height: 100%; }
  </style>
</head>
<body class="h-full v-full" style="width: 100%; height: 100%;">

<.flash_group flash={@flash} />

<script src="https://js.stripe.com/v3/"></script>

<script>
  function copyToClipboard() {
    var copyText = document.getElementById("api_key").value;
    navigator.clipboard.writeText(copyText).then(() => {
      document.getElementById('copy_btn').innerText = "Copied";
    }).catch(err => {
      console.error('Error copying text: ', err);
    });
  }

  async function createStripeSession() {
    try {
      const response = await fetch('/create-stripe-session', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          // Add any other headers here
        }
      });
      const { session_id } = await response.json();
      // Redirect to Stripe Checkout
      const stripe = Stripe('<%= Application.get_env(:robocoder, :stripe)[:publishable_key] %>');
      stripe.redirectToCheckout({ sessionId: session_id });
    } catch (error) {
      console.error('Error creating Stripe session:', error);
    }
  }
</script>

  <div class="flex items-center justify-center h-full">
    <center>
      <p class="text-2xl font-bold center">License Key</p><br/>

      <p class="text-gray-500 mb-4">Copy and paste this key into RoboCoder.</p>

      <div class="flex items-center space-x-2">
        <input type="text" id="api_key" value={@api_token} readonly class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-100 cursor-not-allowed" disabled>
        <button id="copy_btn" onclick="copyToClipboard()" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-2 transition duration-300 ease-in-out">
          Copy
        </button>
      </div>


      <br/>
      <a class="text-blue-600 hover:text-blue-700 cursor-pointer" href={@manage_subscription_url}>Manage subscription</a><br/>
      <a class="text-blue-600 hover:text-blue-700 cursor-pointer" href="/logout">Log out</a>

    </center>
  </div>
  
</body>
</html>